@import "tailwindcss";

 html {
      scroll-behavior: smooth;
    }



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-cafecomleite: #ABA27B;
  --color-leite:#F6E6D7;
  --color-cafe:#2D100C;
  --color-dourado:#FFEFAF;
  --color-leitebranco:#FFFFFF;
  --color-cafepreto:#000000;

  --color-vapid: #0A747B;
  --color-feisty: #ADE280;
  --color-underdog: #284374;
  --color-vanished: #071B3D;
  --color-wanderlust: #EBF2F2;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Oskon-Italic';
  src: url('/fonts/ZtBrosOskon90s-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



/* global.css */
::-webkit-scrollbar {
  width: 6px; /* largura da barra vertical */
  height: 6px; /* altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: #ABA27B;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #F6E6D7; /* cor do "thumb" (laranja Tailwind) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFEFAF; /* cor ao passar o mouse */
}

